@import "./fonts.css";
@import './commons.css';


/* --------------Main Page-------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------header--------------- */

.header {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-top: 45px;
    margin-bottom: 100px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__block a {
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.header__block a:hover {
    color: var(--white-header-text-hover);
}

.card {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 23px;
}

.card__block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.gallery {
    margin-bottom: 50px;
}

.main_image {
    width: 620px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other_images {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.image {
    width: 120px;
    height: 75px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__block_buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card__block_buttons button:first-child {
    background: var(--main-four-color);
}

.card__block_buttons button:last-child {
    background: transparent;
}

.card__block_buttons button:first-child:hover {
    background: var(--orange-bg-hover);
}

.card__block_buttons button:last-child:hover {
    background: var(--white-bg-hover);
}


.card__block_info-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.rborder {
    border-bottom: 3px solid var(--main-third-color);
}

.card__block_info-desc {
    color: var(--main-third-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 14px;
}

.card__block_info_panel {
    display: flex;
    flex-direction: column; 
}

.row {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 15px 13px;
}

.row:nth-child(2n - 1) {
    background: var(--main-second-color);
}

.row:nth-child(2n - 1) p:first-child {
    color: var(--main-first-color);
}

.row p:first-child {
    font-weight: 600;
}

@media (max-width: 1400px) {
    .card__block {
        flex-direction: column-reverse;
    }

    .card__block_gallery {
        display: flex;
        flex-direction: column;
    }

    .main_image {
        width: 100%;
    }

    .main_image img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 700px) {
    .card__block_buttons {
        flex-direction: column;
        display: inline;
    }

    .card__block_buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.card_points {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.card_points_block {
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 19px 24px;
}

.card_points_block-title {
    color: #2C8FC6;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card_marks_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_mark {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card_point {
    max-width: 15px;
    min-width: 15px;
    max-height: 15px;
    min-height: 15px;
    background: var(--main-four-color);
    border-radius: 50%;
}

@media (max-width: 960px) {
    .card_points {
        flex-direction: column;
    }

    .card_points_block {
        width: 100%;
    }
}

.info {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 100px;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordion {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background: transparent;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.name p {
    font-weight: 600;
}

/* .active, .accordion:hover {
    background-color: var(--white-bg-hover);
} */

.xmarkActive {
    transform: rotate(45deg);
}

.xmarkDeactive {
    transform: rotate(0deg);
}

.xmark {
    font-size: 30px;
    color: var(--main-four-color);
    max-height: 34.67px;
    min-width: 34.67px;
    height: 34.67px;
    width: 34.67px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.xmark:hover {
    font-size: 40px;
    color: var(--main-first-color);
    background: var(--main-four-color);
}

.border {
    height: 2px;
    background: var(--main-four-color);
    width: 100%;
}
 
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (max-width: 1300px) {
    .info__title_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.docs {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 100px;
}

.docs_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.docs_wrapper__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.docs_wrapper__row_block {
    border-radius: 5px;;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 41px 64px 34px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 2;
}

.docs_wrapper__row_block_button {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.docs_wrapper__row_block_button button {
    background: var(--main-four-color);
}

.docs_wrapper__row_block_button button:hover {
    background: var(--orange-bg-hover);
}

@media (max-width: 1300px) {
    .docs_wrapper__row {
        flex-direction: column;
    }

    .docs_wrapper__row_block {
        width: 100%;
    }

    .docs_wrapper__row_block_button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .docs_wrapper__row_block {
        flex-direction: column;
        padding-left: 64px;
        justify-content: center;
        align-items: center;
    }
}

.more_accs {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 100px;
}

.more_accs__title_wrapper {
    margin-bottom: 50px;
}

.more_accs__title {
    border-bottom: none;
}

.more_accs_wrapper__row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.more_accs_wrapper__row_block {
    border-radius: 5px;;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 41px 64px 34px 0;
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 2;
}

.more_accs_wrapper__row_block_button {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.more_accs_wrapper__row_block_button button {
    background: var(--main-four-color);
}

.more_accs_wrapper__row_block_button button:hover {
    background: var(--orange-bg-hover);
}

@media (max-width: 1300px) {
    .more_accs_wrapper__row {
        flex-direction: column;
    }

    .more_accs_wrapper__row_block {
        width: 100%;
    }

    .more_accs_wrapper__row_block_button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .more_accs_wrapper__row_block {
        flex-direction: column;
        padding-left: 64px;
        justify-content: center;
        align-items: center;
    }
}