@import "./fonts.css";
@import './commons.css';


/* --------------Conslusions-------------- */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------header--------------- */

.header {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-top: 45px;
    margin-bottom: 100px;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header__block a {
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}

.header__block a:hover {
    color: var(--white-header-text-hover);
}

.conclusions {
    padding-left: var(--main-horizontal-padding);
    padding-right: var(--main-horizontal-padding);
    margin-bottom: 50px;
}

.conclusions__title_wrapper {
    margin-bottom: 50px;
}

.conclusions__describe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
}

.conclusions__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.conclusions__container__row_block-img img {
    max-width: 100%;
    height: auto;
}

.conclusions__container__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.conclusions__container__row_block {
    padding: 40px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 569px;
    max-width: 500px;
    width: 500px;
}

.conclusions__container__row_block-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conclusions__container__row_block-title {
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.conclusions__container__row_block-text {
    color: var(--main-font-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.conclusions__container__row_block-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.conclusions__container__row_block-buttons_btn1 {
    background: var(--main-four-color);
    text-align: center;
}

.conclusions__container__row_block-buttons_btn1:hover {
    background: var(--orange-bg-hover);
}

@media (max-width: 1900px) {
    .conclusions__container__row_block {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 1360px) {
    .conclusions__container__row {
        flex-direction: row;
    }

    .conclusions__container {
        flex-direction: column;
    }    

    .conclusions__container__row_block {
        max-width: none;
    }
}

@media (max-width: 900px) {
    .conclusions__container__row {
        flex-direction: column;
    }

    .conclusions__title_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .conclusions__container__row_block {
        min-height: 0;
    }
}

@media (max-width: 400px) {
    .conclusions__container__row_block-img img {
        width: 280px;
    }

    .conclusions__container__row_block-title {
        font-size: 18px;
    }

    .conclusions__container__row_block-text {
        font-size: 16px;
    }
}

@media (max-width: 330px) {
    .conclusions__container__row_block-buttons_btn1 {
        min-width: 230px;
    }
}